<div class="task-list">
  <ul>
    <li ng-repeat="task in $ctrl.tasks" ng-if="task.name">
      <div ng-hide="$ctrl.edited === $index">
        <h2>{{task.name}}</h2>
        <p>{{task.description}}</p>
        <span>{{task.date}}</span>
        <button ng-click="$ctrl.deleteTask($index)">Delete</button>
      </div>
      <button ng-hide="$ctrl.edited === $index" ng-click="$ctrl.edited = $index; $ctrl.setBuferState($index)">Edit</button>
      <button ng-show="$ctrl.edited === $index" ng-click="$ctrl.edited = null">Close</button>
      <button ng-show="$ctrl.edited === $index" ng-click="$ctrl.edited = null; $ctrl.setEditedTask($index,$ctrl.editBufer)">Save</button>
      <form ng-if="$ctrl.edited === $index">
        <input type="text" ng-model="$ctrl.editBufer.name" value="{{task.name}}">
        <textarea ng-model="$ctrl.editBufer.description" rows="8"></textarea>
      </form>
    </li>
  </ul>
</div>
